<IfModule mod_rewrite.c>
    RewriteEngine On

    # Rediriger les slashes de fin s'il ne s'agit pas d'un dossier...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Gérer le contrôleur frontal...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
